* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --bg-color:#EDF2FF;
    --text-color:#00082F;
    --primary-color:#4263EB;
    --primary-color-dark:#364FC7;
}

#dark-blue {
    --bg-color:#00082F;
    --text-color:#EDF2FF;
    --primary-color:#4263EB;
    --primary-color-dark:#364FC7;
}

#pink {
    --bg-color:#FFF0F6;
    --text-color:#1F000B;
    --primary-color:#D6336C;
    --primary-color-dark:#A61E4D;
}

#dark-pink {
    --bg-color:#1F000B;
    --text-color: #FFF0F6;
    --primary-color:#D6336C;
    --primary-color-dark:#A61E4D;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}


a {
    text-decoration: none;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

.avatar {
    width: 100%;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;
}

h1 {
    font-size: 32px;
    border-top: 24px;
    border-bottom: 8px;
}

#username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
}

#username a {
    color: var(--text-color);
}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    border-radius: 6px;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: background 400ms;
}

ul li a:hover {
    background: var(--primary-color-dark);
}

footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer a {
    color: var(--text-color);
}


footer:hover {
    opacity: 1;
}
